<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>demo</title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="/demo/index.css"/>
</head>
<body>
<div id="container"></div>
<%if(isReact){%>
<script type="text/javascript" src="//cdn.myweimai.com/assets/m/libs/0.0.2/react.min.js"></script>
<script type="text/javascript" src="//cdn.myweimai.com/assets/m/libs/0.0.2/react-dom.min.js"></script>
<%}else{%>
<script type="text/javascript" src="//cdn.myweimai.com/assets/m/libs/1.0.0/zepto.min.js"></script>
<%}%>
<script type="text/javascript" src="/demo/index.js"></script>
</body>
</html>
